<style>
html {
  scroll-behavior: smooth;
}
body{
  font-family: 'Lato', sans-serif;
  font-size:1.1rem;
  color:#f4f4f4;
  background-color:#3c3c3c;
}
hr{
  border-top: 1px solid rgba(255,255,255,.1);
}
h1{
  font-size:2.2rem;
  line-height:0.9;
  font-weight:300;
}
h2{
  margin-bottom:1rem;
  font-weight:400;
}
h3{
  font-weight:800;
  font-size:1rem;
}
h4{
  font-weight:300;
  font-size:1rem;
}
p{
  font-weight:300;
  font-size:1.8rem;
  line-height:1.2;
}
a{
  color:#00ff3a;
}
a:hover{
  color:#28a745;
}
#logo-container{
  float:left;
  margin-bottom:100px;
}
#logo{
  float:left;
  width:60px;
}
.logo-name{
  float:right;
  margin-left:25px;
}
nav{
  position:fixed;
}
nav ul {
  list-style-type: none;
  margin:0px;
  padding: 0;
  text-align:right;
}

nav li a {
  display: block;
  width: 60px;
  margin-bottom:10px;
}
footer{
  margin-right:100px;
  font-size:0.8rem;
  color:#888888;
}
#main-body{
  padding-right:100px;
}
.section-container{
  margin-bottom:40px;
}
.player-container{
  text-align:center;
  margin-top:80px;
}
.player-box{
  background-color:#000000;
  border-radius:10px;
  padding:5px;
}
.spotify-follow{
  margin-bottom:60px;
}
.contact-text{
  display:inline;
  margin-left:10px;
}
@media(max-width:767px){
  body{
    margin:30px;
  }
  nav{
    top:30px;
    right:30px;
  }
  .player-box{
    width:100%;
  }
}
@media(min-width:768px){
  body{
    margin:50px;
  }
  nav{
    top:50px;
    right:50px;
  }
  .player-box{
    width:400px;
  }
}
</style>
